.main_div {
  width: 100vw;
  height: 100vh;
  background-color: #add8e6;;
}
.input_box{
  width: 82%;
}
.account,
.account_header,
.account_ledger_details {
  width: 80%;
  background: #e1e1e1;
  margin: 0 auto;
  margin-top: 10px;
  text-align: right;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  color: black;
}

.account_ledger,
.account_text,
.account_ledger_details {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
  font-size: 20px;
}
.account_header{
  background-color: #76d1f0;
}
.account_header span {
  font-size: 24px;
  font-weight: bold;
}

/* Account Info */
.account .account_ledger {
  display: flex;
  justify-content: space-around;
}

.account:hover, .account_ledger_details:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all .3s ease-in-out;
  position:relative;
  width: 82%;
}

.account_ledger .button {
  height: 30px;
}

/* Masjid Expense */
.account_ledger_details div,
.account_text div {
  width: 200px;
  text-align: center;
}
.edit{
  /* width: 70px; */
  display: flex;
  justify-content: space-around;
}

.editIcon:hover{
  color: black;
}

EditIcon:hover{
  color: black;
}

/* Account Header  */

.account_detail_header .account_header_info{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-around;
}

@media only screen and (max-width: 768px){
  .account_ledger_details{
    flex-direction: column-reverse;
    align-items:center;
  }
  .account{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .account .account_name{
    text-align: center;
  }
  .account .account_ledger{
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
  }
  .account_ledger .accoutDetail{
    margin-bottom: 5px;
  }
}