.masjid_detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.masjid_detail .button{
    flex: 0.1;
}
.masjid_header_info{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    flex: 0.8;
}
.masjid_header_info h1{
    margin-right: 40px;
}
.masjid_header_info p{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0px;
    font-size: 18px;
}
.expense_table{
    padding: 10px;
}
TableBody TableRow TableCell{
    background-color: red !important;
}

.edits{
    display: flex;
    justify-content: space-around;
}
.total_amount{
    position: relative;
    /* top: 100%; */
    left: 10px;
    display: flex;
    align-items: center;
    height: 60px;
    width: fit-content;
    background: #76d1f0;
    border-radius: 10px;
    padding: 10px;
}

/* Print PDF */
.print-pdf{
    cursor: pointer;
}

@media only screen and (max-width: 768px){
    .masjid_detail{
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 20px;
    }
    .masjid_header_info{
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: 10px;
    }
    .masjid_header_info h1{
        margin-right: 0px;
    }
    .total_amount{
        position: relative;
        top: 2px;
        bottom: 10px;
        left: 10px;
    }
}